# Setting working directory

setwd("D:\\seqlogo")  # change with your working directory where input sequence file is saved


# Installing required libraries

install.packages("Biostrings", "ampir", "msa", "ggplot2", "ggseqlogo")


# Loading necessary libraries

library(Biostrings)
library(ampir)
library(msa)
library(ggplot2)
library(ggseqlogo)


# Input data 


df <- read_faa("plant_def.fasta")

aa <- AAStringSet(df$seq_aa)


# Performing multiple sequence alignment

maln <- msa(aa)

maln_chr <- as.character(maln)


# Generating the SeqLogo plot
p <- ggplot() +
  geom_logo(maln_chr, seq_type = "aa", stack_width = 1) +
  theme(axis.text.x = element_text(angle = 90, size = 5, vjust = 0.5)) +
  labs(title = "Amino acid conservation patterns in some defensin peptides")


# Getting the consensus sequence string
consensus_seq <- consensusString(maln, ambiguityMap = "X", threshold = 0.6)


# Adding consensus string as text on the SeqLogo plot
p <- p +
  annotate("text", x = seq(1, nchar(consensus_seq)), y = -0.3, 
           label = strsplit(consensus_seq, "")[[1]], size = 2, hjust = 0.5)


# Saving the plot as a PNG file 

ggsave("def.png", plot = p, height = 2, width = 7, units = "in")

